/** @format */

:root {
  --firstColor: #004643;
  --secondColor: #f6efe4;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--firstColor);
}

/* NAVBAR START */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  position: sticky;
  top: 0;
  background-color: var(--firstColor);
  z-index: 1000;
  border-bottom: var(--secondColor) 1px solid;
}

.navbar-left a {
  text-decoration: none;
  color: var(--secondColor);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  align-items: center;
}

/* Default navbar-right display */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right a {
  color: var(--secondColor);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
}

.navbar-right a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.navbar-right a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: var(--secondColor);
  margin: 3px 0;
  transition: background-color 0.3s ease;
}

.hamburger-menu.change div:nth-child(1) {
  transform: rotate(45deg) translate(10px, 2.75px);
  transform-origin: center;
}

.hamburger-menu.change div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.change div:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -2.75px);
  transform-origin: center;
}
/* NAVBAR END */

/* HOME PAGE START */
.content {
  display: flex;
  align-items: center;
  padding: 4rem 5rem;
}

.content-left {
  width: 40%;
  display: flex;
}

.content-left img {
  border-radius: 20%;
  width: 80%;
  height: auto;
}

.content-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sosmed {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}

.sosmed a {
  position: relative;
  color: var(--secondColor);
}

.sosmed a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.sosmed a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content-right h1 {
  color: var(--secondColor);
  font-size: 3rem;
  margin: 0;
}

.content-right p {
  color: var(--secondColor);
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 300;
}

.cta {
  margin-top: 1rem;
  text-align: center;
}

.cta a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--secondColor);
  color: var(--firstColor);
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.25rem;
  border: 3px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.cta a:hover {
  background-color: var(--firstColor);
  color: var(--secondColor);
  border: var(--secondColor) 3px solid;
}
/* HOME PAGE END*/

/* ABOUT START */
.about {
  padding: 4rem 5rem;
}

.project .project-title h1,
.about .about-title h1,
.contact .contact-title h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--secondColor);
  margin: 0;
  margin-top: 3rem;
}

.project .project-title p,
.about .about-title p,
.contact .contact-title p {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  color: var(--secondColor);
  margin-bottom: 2rem;
}

.about .about-content {
  color: var(--secondColor);
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;
}

.about .about-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about .about-skills p {
  color: var(--secondColor);
  font-size: 2rem;
  font-weight: bold;
}

.about .skills-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.about .skills-icon img {
  height: 78px;
  width: 78px;
}
/* ABOUT END */

/* Project Page Start */
.project {
  padding: 4rem 5rem;
}

.project-show {
  display: flex;
  gap: 2rem;
  height: max-content;
  width: auto;
  padding: 2rem;
  justify-content: center;
  background-color: var(--secondColor);
  border-radius: 16px;
}

.project-show .project-item {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0;
}

.project-show .project-item a {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.project-item img {
  border: var(--secondColor) 1px solid;
  width: 100%;
  height: 100%;
}

.project-item .project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  background: rgba(0, 70, 67, 0.8);
  color: var(--secondColor);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  z-index: 999;
  padding: 0 1rem;
}

.project-item:hover .project-description {
  visibility: visible;
  opacity: 1;
}

.project-disclaimer {
  text-align: center;
  color: var(--secondColor);
}
/* Project Page End */

/* Contact Page Start */
.contact {
  padding: 4rem 5rem;
}

.contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.contact .contact-send {
  flex: 1;
}

.contact .contact-send form {
  display: flex;
  flex-direction: column;
}

.contact .contact-send .form-group {
  margin-bottom: 1rem;
}

.contact .contact-send .form-group label {
  font-size: 1rem;
  color: var(--secondColor);
  margin-bottom: 0.5rem;
}

.contact .contact-send .form-group input,
.contact .contact-send .form-group textarea {
  width: 96%;
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--firstColor);
  background-color: var(--secondColor);
  border-radius: 8px;
}

.contact .contact-send a {
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--firstColor);
  background-color: var(--secondColor);
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.contact .contact-send a:hover {
  background-color: var(--firstColor);
  color: var(--secondColor);
  border: var(--secondColor) 3px solid;
}
/* Contact Page End */
footer {
  display: flex;
  background-color: var(--secondColor);
  flex-direction: column;
  padding: 2rem 5rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
  gap: 0;
}

footer .socials {
  display: flex;
  gap: 2rem;
}

footer .socials a {
  position: relative;
  color: var(--firstColor);
}

footer .socials a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--firstColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

footer .socials a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer .copyright p,
footer .copyright a {
  color: var(--firstColor);
  text-decoration: none;
  position: relative;
  margin: 0;
}

footer .copyright a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--firstColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

footer .copyright a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* MEDIA QUERIES START */

/* PDF (852px) */
@media only screen and (max-width: 852px) {
  .contact .contact-content .contact-address iframe {
    width: 400px !important;
  }

  .contact .contact-send .form-group input,
  .contact .contact-send .form-group textarea {
    width: 96.5%;
  }
  .contact .contact-send a {
    width: 96%;
  }
}

/* Tablet (768px) */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1.5rem 2rem;
    transition: transform 0.25s ease;
  }

  .hamburger-menu {
    display: flex; /* Show hamburger menu on small screens */
  }

  .navbar-right {
    display: none; /* Hide navbar links on small screens */
    flex-direction: column;
    width: 100%;
    background-color: var(--firstColor);
    position: absolute;
    top: 60px; /* Adjust according to the height of the navbar */
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .navbar-right.active {
    display: flex;
    transform: translateY(0);
    height: auto;
    transition: transform 0.3s ease;
    padding-bottom: 1rem;
  }

  .hamburger-menu.change div:nth-child(1) {
    transform: rotate(45deg) translate(10px, 2.75px);
    transform-origin: center;
  }

  .hamburger-menu.change div:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.change div:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -2.75px);
    transform-origin: center;
  }

  .navbar-left a {
    font-size: 1.5rem;
  }

  .content {
    padding: 3rem 2rem;
    flex-direction: column;
  }

  .content-left img {
    width: 100%;
  }

  .content-right {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .content-right h1 {
    font-size: 1.75rem;
  }

  .content-right p {
    font-size: 0.875rem;
  }

  .cta a {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
  }

  .about {
    padding: 2rem 1.5rem;
  }

  .about .about-content p {
    font-size: 0.875rem;
  }

  .project {
    padding: 2rem 1.5rem;
  }

  .project-show {
    flex-direction: column; /* Membuat elemen berurutan secara vertikal */
    padding: 1.5rem;
  }

  .project-show .project-item {
    width: 100%; /* Memastikan lebar penuh */
    margin-bottom: 1.5rem; /* Memberikan jarak antar item */
  }

  .project-item img {
    width: 100%;
    height: auto; /* Memastikan gambar tetap proporsional */
  }

  .project-item .project-description {
    font-size: 1rem;
  }

  .project-disclaimer {
    font-size: 0.875rem;
  }

  /* Mengatur kontak menjadi vertikal */
  .contact .contact-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .contact-content .contact-address iframe {
    width: 500px !important;
  }

  .contact .contact-send,
  .contact .contact-info {
    width: 100%;
  }

  .contact {
    padding: 2rem 1.5rem;
  }

  footer {
    padding: 2rem 1.5rem;
  }
}

/* Mobile (480px) */
@media only screen and (max-width: 480px) {
  .navbar {
    padding: 1.5rem 1rem;
  }

  .navbar-left a {
    font-size: 1.25rem;
  }

  .hamburger-menu div {
    width: 20px;
    height: 2px;
  }

  .hamburger-menu.change div:nth-child(1) {
    transform: rotate(45deg) translate(9px, 2.5px);
    transform-origin: center;
  }

  .hamburger-menu.change div:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.change div:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -2.5px);
    transform-origin: center;
  }

  .content {
    padding: 2rem 1rem;
  }

  .content-right h1 {
    font-size: 1.5rem;
  }

  .content-right p {
    font-size: 0.75rem;
  }

  .cta a {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }

  .about {
    padding: 2rem 1rem;
  }

  .project {
    padding: 2rem 1rem;
  }

  .project-show {
    flex-direction: column; /* Membuat elemen berurutan secara vertikal */
    padding: 1rem;
  }

  .project-show .project-item {
    width: 100%; /* Memastikan lebar penuh */
    margin-bottom: 1rem; /* Memberikan jarak antar item */
  }

  .project-item img {
    width: 100%;
    height: auto; /* Memastikan gambar tetap proporsional */
  }

  .project-item .project-description {
    font-size: 0.875rem;
  }

  /* Mengatur kontak menjadi vertikal */
  .contact .contact-content {
    flex-direction: column;
  }

  .contact .contact-send,
  .contact .contact-info {
    width: 100%;
  }

  .contact {
    padding: 2rem 1rem;
  }

  .contact .contact-content .contact-address iframe {
    width: 300px !important;
  }

  footer {
    padding: 2rem 1rem;
  }

  footer p {
    font-size: 0.875rem;
  }
}

/* MEDIA QUERIES END */
